<div class="container">
    <div class="col-md-12 text-center mt-5">
        <div class="card">
            <div class="card-header">
                NgOnInit
            </div>
            <div class="card-body">
                <h5 class="card-title">What is an NgOnInit?</h5>
                <p class="card-text">NgOnInit call as component created, it's calls only once, </p>
                <p class="card-text"><b>Use:</b> Call API, Initiate setup, and load data</p>
                <hr>
                <p class="card-body"><b>Real Scenario: Fetch Data while page load. </b></p>
                <hr>
                <b>Not Use ngOnInit:</b><ol><li>API will not Call</li><li>Data will not bind</li><li>UI will be blank</li><li>Some Variable will be undefined</li></ol>
                <!-- <a class="btn btn-primary" (click)="ngOnInit()" >ngOnInit Code</a> -->
                <button type="button" class="btn btn-lg btn-danger button" placement="top"
                    ngbPopover="ngOnInit(): void {console.log('ngOnInit called')}; " popoverTitle="Example of ngOnInit">
                    ngOnInit Code</button>
            </div>
        </div>
    </div>
</div>