<div class="container">
    <div class="col-md-4 text-center mt-5">
        <div class="card">
            <div class="card-header">
                NgOnInit
            </div>
            <div class="card-body">
                <h5 class="card-title">What is an NgOnInit?</h5>
                <p class="card-text">NgOnInit call as component created, it's calls only once, </p>
                <p class="card-text"><b>Use:</b> Call API, Initiate setup, and load data</p>
                <!-- <a class="btn btn-primary" (click)="ngOnInit()" >ngOnInit Code</a> -->
                <button type="button" class="btn btn-lg btn-danger" placement="bottom"
                    ngbPopover="ngOnInit(): void {console.log('ngOnInit called')}; " popoverTitle="Example of ngOnInit">
                    ngOnInit Code</button>
            </div>
        </div>
    </div>
</div>