<div class="container">
  <div class="col-md-12 text-center mt-5">
    <div class="card">
  <div class="card-header">
    Basic Angular
  </div>
  <div class="card-body">
    <h5 class="card-title">What is an Angular?</h5>
    <p class="card-text">Angular is a open source framework, mostly used to create a SPA(Single Page Application), which based on Typescript, and developed by Google.</p>
    <a class="btn btn-primary" (click)="lifeCycleHooks()" >LifeCyle Hooks</a>
  </div>
</div>
  </div>
</div>